@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #b4a284;
  font-family: "Bebas Neue", cursive;
}

html:focus-within {
  scroll-behavior: unset;
}

#inicio {
  background-color: #f6ead4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 155px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-top: solid 5px #b4a284;
}

.whatsappMovible {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999999;
  cursor: pointer;
}

.whatsappMovible img {
  height: 50px;
}

.imagenLogo {
  margin-left: 150px;
  margin-bottom: 1rem;
  height: 150px;
}

.navPosition {
  padding: 5rem;
  width: 800px;
}

.navPosition ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navPosition ul li {
  display: inline-block;
  position: relative;
  text-align: center;
}

.navPosition ul li:hover {
  cursor: pointer;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.navegacionPrincipal li a {
  text-decoration: none;
  color: #b4a284;
  font-size: 2.5rem;
}

footer {
  background-color: #f6ead4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #b4a284;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 500px;
}

footer ul li {
  list-style-type: none;
  margin: 1rem;
}

footer ul li a {
  text-decoration: none;
  color: #b4a284;
  font-size: 2rem;
}

.footerLogo {
  height: 100px;
}

.footerSocialMedia {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerSocialMedia h3 {
  margin: 5px;
  font-size: 2rem;
}

.footerSocialMedia img {
  margin: 5px;
  height: 30px;
}

.irArriba {
  width: 200px;
  text-align: center;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  font-size: 2rem;
}

.irArriba a {
  text-decoration: none;
  color: #b09567;
}

.presentacion {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.presentacion .presentacion__titulo {
  color: #f6ead4;
  font-size: 3.5rem;
  word-spacing: 0.5rem;
  margin: 20px;
  font-family: 'WindSong', cursive;
}

.ejemplos {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ejemplos .ejemplos__contenedor__img {
  margin: 50px;
  border-radius: 25px;
  -webkit-box-shadow: 7px 7px 7px #f6ead4;
          box-shadow: 7px 7px 7px #f6ead4;
  height: 350px;
}

.ejemplos .ejemplos__contenedor__img:hover {
  cursor: pointer;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.destacados {
  color: #f6ead4;
  font-size: 3rem;
  height: 800px;
}

.destacados .destacados__titulo {
  text-align: center;
  margin: 20px 0 0 0;
}

.destacados .destacados__imgcontainer {
  height: 250px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 250px 250px;
      grid-template-columns: 250px 250px 250px;
  -ms-grid-rows: 250px 250px;
      grid-template-rows: 250px 250px;
  gap: 90px;
  margin: 40px 50px 0 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.destacados .destacados__imgcontainer .destacados__imgcontainer__img {
  border: 2px solid #f6ead4;
  padding: 5px;
  border-radius: 15px;
  height: 250px;
}

.destacados .destacados__imgcontainer .destacados__imgcontainer__img:hover {
  cursor: pointer;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.tendencias {
  color: #f6ead4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
}

.tendencias .tendencias__titulo {
  font-size: 4rem;
  margin: 20px;
}

.tendencias .tendencias__imgcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}

.tendencias .tendencias__imgcontainer .tendencias__imgcontainer__img {
  margin: 50px;
  border-radius: 25px;
  -webkit-box-shadow: 7px 7px 7px #f6ead4;
          box-shadow: 7px 7px 7px #f6ead4;
  height: 400px;
}

.tendencias .tendencias__imgcontainer .tendencias__imgcontainer__descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 3rem;
  margin: 100px;
  width: 250px;
  height: 250px;
  font-family: "Bebas Neue", cursive;
  color: #3d3737;
}

.bodyProductos {
  background-color: #b4a284;
  font-family: 'Bebas Neue', cursive;
}

.navegacionProductos {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  text-decoration: none;
}

.productos {
  margin: 30px;
  height: 900px;
}

.productos .productos__titulo {
  color: #f6ead4;
  font-size: 4rem;
  text-align: center;
  margin-top: 20px;
}

.productsStyle {
  margin: 40px;
  color: #f6ead4;
}

.productsStyle button {
  color: #f6ead4;
  font-size: 2.5rem;
}

.products__imgcontainer {
  height: 250px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 250px 250px;
      grid-template-columns: 250px 250px 250px;
  -ms-grid-rows: 250px 250px;
      grid-template-rows: 250px 250px;
  gap: 100px;
  margin: 30px 50px 0 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products__imgcontainer .products__imgcontainer__img {
  border: 2px solid #f6ead4;
  padding: 5px;
  border-radius: 15px;
  width: 250px;
  height: 250px;
}

.products__imgcontainer .products_imgcontainer_price {
  font-size: 2rem;
  text-align: center;
  border: 2px solid #f6ead4;
  padding: 1px;
  border-radius: 15px;
}

.container_one {
  position: relative;
}

.image1 {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.container_one:hover .overlay {
  opacity: 1;
}

.image2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navegacionFinal {
  padding: 0;
  margin: 0;
}

@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px #00000099;
            box-shadow: 0 5px 15px 0px #00000099;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px #00000033;
            box-shadow: 0 25px 15px 0px #00000033;
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px #00000099;
            box-shadow: 0 5px 15px 0px #00000099;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-box-shadow: 0 5px 15px 0px #00000099;
            box-shadow: 0 5px 15px 0px #00000099;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0 25px 15px 0px #00000033;
            box-shadow: 0 25px 15px 0px #00000033;
    -webkit-transform: translatey(-20px);
            transform: translatey(-20px);
  }
  100% {
    -webkit-box-shadow: 0 5px 15px 0px #00000099;
            box-shadow: 0 5px 15px 0px #00000099;
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

.contact {
  margin: 30px;
}

.contact .contact__titulo {
  font-size: 40px;
  margin-top: 70px;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  color: #f6ead4;
}

.formulario {
  background-color: #f6ead4;
  width: 400px;
  padding: 30px;
  margin: 30px 30px 30px 0;
  margin-bottom: 100px;
  border-radius: 4px;
  font-family: "Bebas Neue";
  color: #b4a284;
  -webkit-box-shadow: 7px 13px 7px #00000033;
          box-shadow: 7px 13px 7px #00000033;
}

.formulario .formulario__input {
  width: 100%;
  background-color: #f6ead4;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  border: 1px solid #b4a284;
  font-size: 18px;
  font-family: "Bebas Neue";
}

.formulario .formulario__button {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  border-radius: 4px;
  color: #f6ead4;
  text-transform: uppercase;
  background: #b4a284;
  font-family: "Bebas Neue";
  background: -webkit-gradient(linear, right bottom, left top, from(#b4a284), to(white));
  background: linear-gradient(to left top, #b4a284, white);
  font-size: 20px;
  border: none;
}

.formulario .formulario__button:hover {
  cursor: pointer;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.formulario .formulario__button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.formulario .formulario__input:focus {
  height: 60px;
}

.contenedord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedord .contenedord_datos {
  background-color: #f6ead4;
  padding: 30px;
  margin: 30px 30px auto 100px;
  border-radius: 4px;
  font-family: "Bebas Neue";
  color: #b4a284;
  -webkit-box-shadow: 7px 13px 7px #b4a284;
          box-shadow: 7px 13px 7px #b4a284;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
  -webkit-animation: float 9s ease-in-out infinite;
          animation: float 9s ease-in-out infinite;
}

.contenedord a {
  text-decoration: none;
  color: #b4a284;
  font-size: 2rem;
}

.sobremi {
  color: #f6ead4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px;
}

.sobremi .sobremi__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px;
  padding: 80px;
}

.sobremi .sobremi__container .sobremi__container__titulo {
  font-size: 4rem;
}

.sobremi .sobremi__container .sobremi__container__descripcion {
  font-size: 2.5rem;
}

.imgSobremi {
  border-radius: 30px 20px 30px 20px;
  -webkit-box-shadow: 7px 7px 7px #f6ead4;
          box-shadow: 7px 7px 7px #f6ead4;
  height: 400px;
}

.notFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notFound img {
  width: 250px;
  height: 350px;
}

.notFound .notFound__items {
  text-align: center;
}

.notFound .notFound__items img {
  width: 465px;
  height: 190px;
}

.notFound .notFound__items h1 {
  font-size: 4rem;
  color: #f6ead4;
  text-shadow: 1px 1px 1px #ebebeb, 2px 2px 1px #ebebeb;
}

.notFound .notFound__items p {
  font-size: 2.5rem;
  color: #f6ead4;
}

.notFound .notFound__items button {
  width: 150px;
  height: 45px;
  margin-top: 15px;
  border-radius: 10px;
  color: #0098cf;
  text-transform: uppercase;
  background: #ffafba;
  font-family: "Bebas Neue";
  background: -webkit-gradient(linear, right bottom, left top, from(#b4a284), to(white));
  background: linear-gradient(to left top, #b4a284, white);
  font-size: 20px;
  border: solid;
}

.notFound .notFound__items button:hover {
  cursor: pointer;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.notFound .notFound__items button:active {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

/*Header*/
@media (max-width: 767.98px) {
  #inicio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .whatsappMovible {
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
  }
  .imagenLogo {
    margin: 0;
    height: 150px;
  }
  .navPosition {
    padding: 3rem;
    width: 600px;
  }
  .navPosition ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 575.98px) {
  .navPosition {
    width: 500px;
    font-size: 3rem;
  }
  .whatsappMovible {
    position: fixed;
    bottom: 5px;
    right: 5px;
  }
}

@media (max-width: 375px) {
  .navPosition {
    width: auto;
  }
  .navPosition ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .whatsappMovible {
    bottom: 2px;
    right: 2px;
  }
}

/*Footer*/
@media (max-width: 768px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    text-align: center;
  }
  .irArriba {
    height: 2.5rem;
    position: relative;
    right: 32rem;
    top: 8rem;
  }
  .footerSocialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 375px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    text-align: center;
  }
  .irArriba {
    position: relative;
    right: 14rem;
    top: 8rem;
  }
  .footerSocialMedia {
    width: auto;
  }
}

/*Index*/
@media (max-width: 767.98px) {
  .presentacion__titulo {
    color: #f6ead4;
    font-size: 3.5rem;
    word-spacing: 0.5rem;
    margin: 20px;
    text-align: center;
  }
  .ejemplos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 90rem;
  }
  .ejemplos__contenedor .ejemplos__contenedor__img {
    margin: 20px;
  }
  .ejemplos__contenedor .fotoTres {
    height: auto;
  }
  .destacados {
    height: 110rem;
  }
  .destacados .destacados__imgcontainer {
    height: 900px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 250px;
        grid-template-columns: 250px 250px;
    -ms-grid-rows: 250px 250px 250px;
        grid-template-rows: 250px 250px 250px;
    gap: 100px;
  }
}

@media (max-width: 575.98px) {
  .ejemplos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 90rem;
  }
  .destacados {
    height: 100rem;
  }
  .destacados .destacados__imgcontainer {
    height: 900px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 250px;
        grid-template-columns: 250px 250px;
    -ms-grid-rows: 250px 250px 250px;
        grid-template-rows: 250px 250px 250px;
    gap: 50px;
  }
}

@media (max-width: 375px) {
  .ejemplos__contenedor .ejemplos__contenedor__img {
    margin: 0;
  }
  .fotoTres {
    width: 350px;
    height: 230px;
  }
  .ejemplos {
    height: 120rem;
  }
  .destacados {
    height: 180rem;
  }
  .destacados .destacados__imgcontainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px;
        grid-template-columns: 250px;
    -ms-grid-rows: 250px 250px 250px 250px;
        grid-template-rows: 250px 250px 250px 250px;
    gap: 25px;
  }
}

/*Productos*/
@media (max-width: 767.98px) {
  .productos {
    height: 130rem;
  }
  .products__imgcontainer {
    height: 250px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 250px;
        grid-template-columns: 250px 250px;
    -ms-grid-rows: 250px 250px 250px;
        grid-template-rows: 250px 250px 250px;
    gap: 100px;
  }
  .products__imgcontainer .products__imgcontainer__img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 575.98px) {
  .productos {
    height: 130rem;
  }
  .products__imgcontainer {
    height: 250px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 250px;
        grid-template-columns: 250px 250px;
    -ms-grid-rows: 250px 250px 250px;
        grid-template-rows: 250px 250px 250px;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 100px;
  }
}

@media (max-width: 375px) {
  .productos {
    height: 221rem;
  }
  .products__imgcontainer {
    height: 250px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px;
        grid-template-columns: 250px;
    -ms-grid-rows: 250px 250px 250px 250px;
        grid-template-rows: 250px 250px 250px 250px;
    gap: 50px;
  }
}

/*Tendencias*/
@media (max-width: 575.98px) {
  .tendencias {
    margin: 3rem;
  }
  .tendencias .tendencias__titulo {
    font-size: 3rem;
  }
  .tendencias .tendencias__imgcontainer {
    margin: 10px;
  }
  .tendencias .tendencias__imgcontainer .tendencias__imgcontainer__img {
    margin: 25px;
  }
  .tendencias .tendencias__imgcontainer .tendencias__imgcontainer__descripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 2.5rem;
    margin: 50px;
    width: 150px;
  }
}

@media (max-width: 375px) {
  .tendencias {
    margin: 3rem;
  }
  .tendencias .tendencias__titulo {
    font-size: 3rem;
    text-align: center;
  }
  .tendencias .tendencias__imgcontainer {
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tendencias .tendencias__imgcontainer .tendencias__imgcontainer__img {
    margin: 25px;
    width: 133px;
    height: 200px;
  }
  .tendencias .tendencias__imgcontainer .tendencias__imgcontainer__descripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 2rem;
    margin: 30px;
    width: 100px;
  }
}

/*Sobre Mi*/
@media (max-width: 767.98px) {
  .sobremi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sobremi .sobremi__container {
    margin: 25px;
    padding: 2rem;
  }
}

@media (max-width: 375px) {
  .imgSobremi {
    height: 300px;
    width: 300px;
  }
  .sobremi__container__descripcion {
    font-size: 2rem;
    width: 300px;
  }
}

/*Contacto*/
@media (max-width: 767.98px) {
  .contenedord_datos {
    margin: 30px 30px auto 30px;
  }
  .formulario {
    margin: 30px;
  }
}

@media (max-width: 575.98px) {
  .contenedord {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 700px;
  }
  .contenedord .contenedord_datos {
    margin: 10px;
  }
  .formulario {
    margin: 30px auto;
  }
}

@media (max-width: 375px) {
  .formulario {
    width: 350px;
  }
}
/*# sourceMappingURL=style.css.map */