/*SOBRE MI*/

.sobremi {
    color: $colorPrimario;
    display: flex;
    margin: 50px;
    align-items: center;

    .sobremi__container {
        display: flex;
        flex-direction: column;
        margin: 50px;
        padding: 80px;

        .sobremi__container__titulo {
            font-size: 4rem;
        }

        .sobremi__container__descripcion {
            font-size: 2.5rem;
            letter-spacing: 0.5px;
        }
    }
    .imgSobremi {
        border-radius: 30px 20px 30px 20px;
        box-shadow: 7px 7px 7px $colorPrimario;
        height: 400px;
    }
}



