.tendencias {
    color: $colorPrimario;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;

    .tendencias__titulo {
        font-size: 4rem;
        margin: 20px;
    }

    .tendencias__imgcontainer {
        display: flex;
        margin: 20px;

        .tendencias__imgcontainer__img {
            margin: 50px;
            border-radius: 25px;
            box-shadow: 7px 7px 7px $colorPrimario;
        }

        .tendencias__imgcontainer__descripcion {
            display: flex;
            align-items: center;
            text-align: center;
            font-size: 3rem;
            margin: 100px;
            width: 250px;
            height: 250px;
            font-family: "Bebas Neue", cursive;
            color: #3d3737;
        }
    }
}


@media (max-width: 575.98px) {
    .tendencias {
        margin: 3rem;


        .tendencias__titulo {
            font-size: 3rem;
        }

        .tendencias__imgcontainer {
            margin: 10px;

            .tendencias__imgcontainer__img {
                margin: 25px;
            }

            .tendencias__imgcontainer__descripcion {
                display: flex;
                align-items: center;
                text-align: center;
                font-size: 2.5rem;
                margin: 50px;
                width: 150px;
            }
        }

    }


}

@media (max-width: 375px) {
    .tendencias {
        margin: 3rem;


        .tendencias__titulo {
            font-size: 3rem;
        }

        .tendencias__imgcontainer {
            margin: 10px;
            display: flex;
            align-items: center;

            .tendencias__imgcontainer__img {
                margin: 25px;
                width: 133px;
                height: 200px;
            }

            .tendencias__imgcontainer__descripcion {
                display: flex;
                align-items: center;
                text-align: center;
                font-size: 2rem;
                margin: 30px;
                width: 100px;
            }
        }

    }
}